@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {width: 10px; height: 5px }
::-webkit-scrollbar-track { background: #fff }
::-webkit-scrollbar-thumb { background: gray }
::-webkit-scrollbar-thumb:hover { background: #555;}

.comments-scroolbar::-webkit-scrollbar{width: 5px;}


.swiper-button-prev { @apply after:content-['‹'] after:absolute w-5 h-5 after:text-xl after:pb-1 bg-gray-200 rounded-full text-current}
.swiper-button-next { @apply after:content-['›'] after:absolute w-5 h-5 after:text-xl after:pb-1 bg-gray-200 rounded-full text-current}
.swiper-pagination { @apply relative }
.swiper-pagination-bullet { @apply w-2 h-2 bg-gray-200 rounded-full mx-1 }